body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 114, 2, 0.217);
}

html {
  height: 100%;
}

header {
  background: linear-gradient(45deg, #28805ae9, transparent);
}

#imgig {
  border: 6px solid rgb(38, 0, 45);
  border-radius: 14px;
  border-style: groove;
  margin: 3px;
  height: 120px;
}

#nume {
  text-decoration: none;
  padding: 3px 5px;
  box-shadow: 1px 1px 5px 1px rgb(38, 0, 45);
  margin-left: 15px;
  border-radius: 10px;
  font-size: 35px;
}

#job-title {
  color: rgb(129, 11, 150);
  text-align: center;
  background-color: #b8dfc5;
  border-radius: 15px;
  font-size: 20px;
  font-style: italic;
  margin-left: 10px;
}

#content div,
#side-menu section {
  padding: 6px 5px;
  margin: 2px;
}

#content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: var(--max-width);
  margin: 0 auto;
}

.search-input {
  background-color: transparent;
  font-size: 14px;
  line-height: 22px;
  border-radius: 50px;
  border: 1px solid #000000;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

input {
  color: color(#565756 a(0.8));
  letter-spacing: 0.5px;
}

.search-input :hover,
:focus {
  width: 100%;
  padding: 10px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  background-position: 100% center;
  border-radius: 0;
}

.page {
  width: 500px;
  display: none;
  background-color: #dde8e1;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 2px rgb(38, 0, 45), 4px 3px 5px rgb(240, 234, 241);
}

.page p {
  font-size: 20px;
}

.page > h2 {
  margin: 10px;
}

#main {
  flex: 3;
}
#side-menu {
  flex: 1;
}

#side-menu > section {
  background-color: #dde8e1;
  margin-bottom: 20px;
  box-shadow: 1px 2px 5px 2px rgb(38, 0, 45), 4px 3px 5px rgb(240, 234, 241);
  border-radius: 4px;
  padding: 20px;
}

#skills {
  font-size: 18px;
}

#skills li span {
  color: #438b6c;
}

td {
  padding: 10px;
}
th {
  padding: 5px;
}

#top-menu-bar {
  text-align: center;
  background-color: #045230;
  color: #ffffff;
  font-size: 17px;
  padding: 4px;
  margin: 3px;
  margin-top: 10px;
  border-radius: 7px;
  border-style: groove;
  border-color: black;
}

#top-menu-bar li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
#top-menu-bar a {
  text-decoration: none;
  color: #c8ffca9f;
  padding: 10px 20px;
  border-radius: 5px;
}

#top-menu-bas a :visited {
  color: #031d0c;
}

#top-menu-bar a:hover {
  color: #000000;
  background: #a6dfabbd;
  transition: 0.5s;
}
#top-menu-bar a.active {
  color: #335535;
  background: #fff;
}

#languages table {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: none;
}

#languages tr {
  border: 1px solid black;
}

.favorite {
  font-weight: bold;
  color: blue;
}
td.favorite {
  font-weight: normal;
}
.circle {
  display: block;
  border-radius: 100%;
  margin-left: 10px;
  width: 155px;
  height: 155px;
  background: radial-gradient(
    circle at 110px 110px,
    rgb(5, 101, 50),
    rgb(64, 0, 75)
  );
}

.circle:before {
  content: "";
  position: absolute;
  top: 14%;
  left: 14%;
  width: 60%;
  height: 140%;
  border-radius: 40%;
  padding: 0 18px;
  background: radial-gradient(
    circle at 50% 1px,
    #ffffff,
    rgba(255, 255, 255, 0) 33%
  );
  -webkit-filter: blur(10px);
  z-index: 1;
}
.circle .shadow {
  position: absolute;
  width: 339px;
  height: 100%;
  left: -29%;
  top: 4%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(176, 78, 226, 0.246) 18%,
    rgba(6, 124, 16, 0.227) 39%,
    rgba(0, 0, 0, 0) 37%
  );

  z-index: 1.5;
}

.circle .under-shadow {
  position: absolute;
  width: 130px;
  height: 17px;
  top: 91%;
  left: 19%;
  background: #544d4dda;
  border-radius: 70%;
  -webkit-filter: blur(2px);
}

.stage {
  width: 170px;
  height: 172px;
  -webkit-perspective: 1px;
}

.button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 2px 13px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 5px;
  margin-left: 8px;
  border: 1px solid rgba(5, 100, 38, 0.343);
}

.button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.07) rotate(-2deg);
}

footer {
  display: inline-block;
  min-height: 24px;
  padding: 10px 10px 7px 10px;
  background-color: #045230;
  color: #d7f0dc;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
}

footer a {
  color: #ca98e6;
}
