body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(178, 211, 172);
}

html {
  height: 100%;
}

header {
  background: linear-gradient(45deg, #438b6c, transparent);
}

#imgig {
  border: 6px solid rgb(38, 0, 45);
  border-radius: 6px;
  border-style: groove;
  margin: 3px;
  height: 110px;
}

#nume {
  text-decoration: none;
  padding: 1px 2px 3px 15px;
  padding-left: 15px;
  box-shadow: 1px 1px 4px 1px rgb(38, 0, 45);
}

#content div,
#side-menu section {
  padding: 3px 1px 0 5px;
  margin: 2px;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.page {
  display: none;
  background-color: #dde8e1;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 2px rgb(38, 0, 45), 4px 3px 5px rgb(38, 0, 45);
}

.page > h2 {
  margin: 10px 0 10px 0;
}

#main {
  flex: 3;
}
#side-menu {
  flex: 1;
}

#side-menu > section {
  background-color: #dde8e1;
  margin-bottom: 17px;
  padding: 8px 5px 8px 5px;
  box-shadow: 1px 2px 5px 2px rgb(38, 0, 45), 4px 3px 5px rgb(38, 0, 45);
  border-radius: 4px;
}

footer {
  min-height: 24px;
  padding: 10px 10px 7px 10px;
  background-color: rgba(0, 110, 39, 0.861);
  color: #d7f0dc;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

td {
  padding: 10px;
}
th {
  padding: 5px;
}

#job-title {
  color: rgb(129, 11, 150);
  text-align: center;
  background-color: #b8dfc5;
  border-radius: 15px;
  font-size: 17px;
  font-style: italic;
}

#top-menu-bar {
  text-align: center;
  background-color: #045230;
  color: #ffffff;
  margin: 5px;
  padding: 0;
  border-radius: 5px;
  border-style: groove;
  border-color: black;
}

#top-menu-bar li {
  display: inline-block;
  padding: 3px;
  margin: 5px;
}
#top-menu-bar a {
  text-decoration: none;
  color: #c8ffca9f;
  padding: 5px 12px 5px;
  border-radius: 4px;
  transition: 0.8s;
}
#top-menu-bas a :visited {
  color: #031d0c;
}

#top-menu-bar a:hover {
  color: #6c97c2;
  background: #fff;
}
#top-menu-bar a.active {
  color: #334455;
  background: #fff;
}

.favorite {
  font-weight: bold;
  color: blue;
}
td.favorite {
  font-weight: normal;
}
.circle {
  display: block;
  border-radius: 100%;
  margin: 11px;
  width: 125px;
  height: 125px;
  background: radial-gradient(
    circle at 100px 100px,
    rgb(5, 101, 50),
    rgb(64, 0, 75)
  );
}

.circle:before {
  content: "";
  position: absolute;
  top: 14%;
  left: 15%;
  width: 70%;
  height: 112%;
  border-radius: 33%;
  background: radial-gradient(
    circle at 50% 1px,
    #ffffff,
    rgba(255, 255, 255, 0) 33%
  );
  -webkit-filter: blur(5px);
  z-index: 1;
}
.circle .shadow {
  position: absolute;
  width: 280px;
  height: 100%;
  left: -40%;
  top: 2%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(176, 78, 226, 0.246) 17%,
    rgba(6, 124, 16, 0.227) 39%,
    rgba(0, 0, 0, 0) 30%
  );

  z-index: 1.5;
}
.stage {
  width: 145px;
  height: 140px;
  -webkit-perspective: 1px;
}

.button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 2px 13px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.07) rotate(-2deg);
}

#skills li span {
  color: #438b6c;
}
